In [131]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt
import seaborn as sn

In [132]:
df=pd.read_csv('/content/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [133]:
df.shape

(891, 12)

In [134]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [136]:
df['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6])

In [137]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [138]:
df['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8])

In [139]:
df.duplicated().sum()

0

In [140]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [141]:
df.mean()

<ipython-input-141-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [142]:
df["Age"].fillna(df["Age"].mean(),inplace=True)

In [143]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [145]:
df.drop(["Name","Ticket","Fare"],axis=1,inplace=True)
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Cabin Embarked
0            1         0       3    male  22.0      1      0   NaN        S
1            2         1       1  female  38.0      1      0   C85        C
2            3         1       3  female  26.0      0      0   NaN        S
3            4         1       1  female  35.0      1      0  C123        S
4            5         0       3    male  35.0      0      0   NaN        S

In [146]:
df.drop("Cabin",axis=1,inplace=True)

In [147]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0            1         0       3    male  22.0      1      0        S
1            2         1       1  female  38.0      1      0        C
2            3         1       3  female  26.0      0      0        S
3            4         1       1  female  35.0      1      0        S
4            5         0       3    male  35.0      0      0        S

In [148]:
df["Embarked"].fillna(method='ffill',limit=1,inplace=True)

In [149]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [62]:
df.skew()

<ipython-input-62-9e0b1e29546f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew()

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.434488
SibSp          3.695352
Parch          2.749117
dtype: float64

In [63]:
s1=df["SibSp"].quantile(0.25)
s2=df["SibSp"].quantile(0.75)

In [64]:
s1

0.0

In [65]:
s2

1.0

In [66]:
df.skew()

<ipython-input-66-9e0b1e29546f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew()

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.434488
SibSp          3.695352
Parch          2.749117
dtype: float64

In [67]:
df["SibSp"].skew()

3.6953517271630565

In [68]:
df["SibSp"]=np.where(df["SibSp"]<s1,s1,df["SibSp"])
df["SibSp"]=np.where(df["SibSp"]>s2,s2,df["SibSp"])

In [70]:
df["SibSp"].skew()

0.7848206976782393

In [71]:
s1=df["Parch"].quantile(0.25)
s2=df["Parch"].quantile(0.75)

In [72]:
s1

0.0

In [73]:
s2

0.0

In [74]:
df["Parch"]=np.sqrt(df["Parch"])
df["Parch"].skew()

1.5297990732860154

In [75]:
df.skew()

<ipython-input-75-9e0b1e29546f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew()

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.434488
SibSp          0.784821
Parch          1.529799
dtype: float64

In [76]:
dum=pd.get_dummies(df.Sex)

In [78]:
dum.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [79]:
df=pd.concat([dum,df],axis=1)

In [80]:
df.head()

,female,male,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked
0,0,1,1,0,3,male,22.0,1.0,0.0,S
1,1,0,2,1,1,female,38.0,1.0,0.0,C
2,1,0,3,1,3,female,26.0,0.0,0.0,S
3,1,0,4,1,1,female,35.0,1.0,0.0,S
4,0,1,5,0,3,male,35.0,0.0,0.0,S

In [81]:
dum=pd.get_dummies(df.Embarked)

In [82]:
dum.head()

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [83]:
df=pd.concat([dum,df],axis=1)

In [84]:
df.drop(["Sex","Embarked"],axis=1,inplace=True)

In [85]:
df.head()

   C  Q  S  female  male  PassengerId  Survived  Pclass   Age  SibSp  Parch
0  0  0  1       0     1            1         0       3  22.0    1.0    0.0
1  1  0  0       1     0            2         1       1  38.0    1.0    0.0
2  0  0  1       1     0            3         1       3  26.0    0.0    0.0
3  0  0  1       1     0            4         1       1  35.0    1.0    0.0
4  0  0  1       0     1            5         0       3  35.0    0.0    0.0

In [86]:
df.corr()

,C,Q,S,female,male,PassengerId,Survived,Pclass,Age,SibSp,Parch
C,1.000000,-0.149857,-0.781213,0.086546,-0.086546,-0.005476,0.171485,-0.247223,0.033780,0.032727,0.010243
Q,-0.149857,1.000000,-0.500146,0.079067,-0.079067,-0.027482,0.008660,0.213504,-0.003904,-0.057785,-0.096687
S,-0.781213,-0.500146,1.000000,-0.125722,0.125722,0.022148,-0.155660,0.081720,-0.027121,0.007822,0.052077
female,0.086546,0.079067,-0.125722,1.000000,-1.000000,-0.042939,0.543351,-0.131900,-0.084153,0.203203,0.257096
male,-0.086546,-0.079067,0.125722,-1.000000,1.000000,0.042939,-0.543351,0.131900,0.084153,-0.203203,-0.257096
PassengerId,-0.005476,-0.027482,0.022148,-0.042939,0.042939,1.000000,-0.005007,-0.035144,0.033207,-0.053397,0.000348
Survived,0.171485,0.008660,-0.155660,0.543351,-0.543351,-0.005007,1.000000,-0.338481,-0.069809,0.115867,0.121652
Pclass,-0.247223,0.213504,0.081720,-0.131900,0.131900,-0.035144,-0.338481,1.000000,-0.331339,-0.076009,-0.006792
Age,0.033780,-0.003904,-0.027121,-0.084153,0.084153,0.033207,-0.069809,-0.331339,1.000000,-0.148409,-0.237261
SibSp,0.032727,-0.057785,0.007822,0.203203,-0.203203,-0.053397,0.115867,-0.076009,-0.148409,1.000000,0.404346
Parch,0.010243,-0.096687,0.052077,0.257096,-0.257096,0.000348,0.121652,-0.006792,-0.237261,0.404346,1.000000

In [89]:
x=df.drop("Survived",axis=1)

In [90]:
y=df.Survived

In [91]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x,y)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [92]:
d=pd.read_csv("/content/test.csv")
d.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [93]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [94]:
d.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [96]:
d.shape

(418, 11)

In [97]:
d.drop(columns=["Name","Ticket","Fare","Cabin"],axis=1,inplace=True)
d.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch Embarked
0          892       3    male  34.5      0      0        Q
1          893       3  female  47.0      1      0        S
2          894       2    male  62.0      0      0        Q
3          895       3    male  27.0      0      0        S
4          896       3  female  22.0      1      1        S

In [98]:
d.isnull().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Embarked        0
dtype: int64

In [99]:
d["Age"].mean()

30.272590361445783

In [100]:
d["Age"].median()

27.0

In [101]:
d["Age"].fillna(d["Age"].median(),inplace=True)

In [102]:
d.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [103]:
d.skew()

<ipython-input-103-9b5f30598e0c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.skew()

PassengerId    0.000000
Pclass        -0.534170
Age            0.660747
SibSp          4.168337
Parch          4.654462
dtype: float64

In [104]:
d["SibSp"]=np.sqrt(d["SibSp"])

In [105]:
d["SibSp"].skew()

1.291589637233114

In [106]:
d["Parch"]=np.sqrt(d["Parch"])
d["Parch"].skew()

1.8791559278126866

In [107]:
d.skew()

<ipython-input-107-9b5f30598e0c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  d.skew()

PassengerId    0.000000
Pclass        -0.534170
Age            0.660747
SibSp          1.291590
Parch          1.879156
dtype: float64

In [110]:
dum=pd.get_dummies(d.Sex)
dum.head()

   female  male
0       0     1
1       1     0
2       0     1
3       0     1
4       1     0

In [111]:
d=pd.concat([dum,d],axis=1)
d.head()

   female  male  PassengerId  Pclass     Sex   Age  SibSp  Parch Embarked
0       0     1          892       3    male  34.5    0.0    0.0        Q
1       1     0          893       3  female  47.0    1.0    0.0        S
2       0     1          894       2    male  62.0    0.0    0.0        Q
3       0     1          895       3    male  27.0    0.0    0.0        S
4       1     0          896       3  female  22.0    1.0    1.0        S

In [113]:
dum=pd.get_dummies(d.Embarked)
dum.head()

   C  Q  S
0  0  1  0
1  0  0  1
2  0  1  0
3  0  0  1
4  0  0  1

In [114]:
d.drop(["Sex","Embarked"],axis=1,inplace=True)
d.head()

   female  male  PassengerId  Pclass   Age  SibSp  Parch
0       0     1          892       3  34.5    0.0    0.0
1       1     0          893       3  47.0    1.0    0.0
2       0     1          894       2  62.0    0.0    0.0
3       0     1          895       3  27.0    0.0    0.0
4       1     0          896       3  22.0    1.0    1.0

In [115]:
d=pd.concat([dum,d],axis=1)
d.head()

   C  Q  S  female  male  PassengerId  Pclass   Age  SibSp  Parch
0  0  1  0       0     1          892       3  34.5    0.0    0.0
1  0  0  1       1     0          893       3  47.0    1.0    0.0
2  0  1  0       0     1          894       2  62.0    0.0    0.0
3  0  0  1       0     1          895       3  27.0    0.0    0.0
4  0  0  1       1     0          896       3  22.0    1.0    1.0

In [116]:
d.corr()

,C,Q,S,female,male,PassengerId,Pclass,Age,SibSp,Parch
C,1.000000,-0.199786,-0.767375,0.033684,-0.033684,-0.027419,-0.318543,0.162147,0.039761,0.040100
Q,-0.199786,1.000000,-0.474962,0.115574,-0.115574,-0.035731,0.252608,-0.041310,-0.141611,-0.164888
S,-0.767375,-0.474962,1.000000,-0.105883,0.105883,0.048008,0.120783,-0.118594,0.056959,0.071887
female,0.033684,0.115574,-0.105883,1.000000,-1.000000,-0.023245,-0.108615,0.008035,0.140068,0.210501
male,-0.033684,-0.115574,0.105883,-1.000000,1.000000,0.023245,0.108615,-0.008035,-0.140068,-0.210501
PassengerId,-0.027419,-0.035731,0.048008,-0.023245,0.023245,1.000000,-0.026751,-0.031447,-0.005093,0.048247
Pclass,-0.318543,0.252608,0.120783,-0.108615,0.108615,-0.026751,1.000000,-0.467853,-0.083845,-0.021851
Age,0.162147,-0.041310,-0.118594,0.008035,-0.008035,-0.031447,-0.467853,1.000000,-0.009178,-0.091902
SibSp,0.039761,-0.141611,0.056959,0.140068,-0.140068,-0.005093,-0.083845,-0.009178,1.000000,0.415791
Parch,0.040100,-0.164888,0.071887,0.210501,-0.210501,0.048247,-0.021851,-0.091902,0.415791,1.000000

In [117]:
y_pred=model.predict(d)

In [118]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [119]:
model.score(d,y_pred)

1.0

In [120]:
id=d.PassengerId
id.head()

0    892
1    893
2    894
3    895
4    896
Name: PassengerId, dtype: int64

In [121]:
data=pd.DataFrame(id)
data

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [122]:
res=pd.DataFrame(y_pred,columns=['Survived'])
res

     Survived
0           0
1           0
2           0
3           0
4           1
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [126]:
final=pd.concat([data,res],axis=1)
final

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [128]:
final.to_csv("titanicdataset",index=False)

# New Section